<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sai_OSCController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <sai_OSCController.Properties.Settings>
            <setting name="slot0" serializeAs="String">
                <value />
            </setting>
            <setting name="slot1" serializeAs="String">
                <value />
            </setting>
            <setting name="slot2" serializeAs="String">
                <value />
            </setting>
            <setting name="slot3" serializeAs="String">
                <value />
            </setting>
            <setting name="slot4" serializeAs="String">
                <value />
            </setting>
            <setting name="slot5" serializeAs="String">
                <value />
            </setting>
            <setting name="slot6" serializeAs="String">
                <value />
            </setting>
            <setting name="slot7" serializeAs="String">
                <value />
            </setting>
            <setting name="slot8" serializeAs="String">
                <value />
            </setting>
            <setting name="slot9" serializeAs="String">
                <value />
            </setting>
            <setting name="slot10" serializeAs="String">
                <value />
            </setting>
            <setting name="slot11" serializeAs="String">
                <value />
            </setting>
            <setting name="slot12" serializeAs="String">
                <value />
            </setting>
            <setting name="slot13" serializeAs="String">
                <value />
            </setting>
        </sai_OSCController.Properties.Settings>
    </userSettings>
</configuration>